/* ### DEFAULT STYLE ### */

* {
  margin: 0px;
  padding: 0px;
}

/* #### NAVBAR STYLE ### */

#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  text-align: center;
}

#menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu li a:hover {
  background-color: #555;
  color: white;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #dcdcdc;
}

/* ### MAIN OF SITE ### */

main {
  padding: 20px;
  margin-top: 30px;
  background-color: #dcdcdc;
  height: 1500px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 10px;
  border-bottom: #555 1px solid;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-content: space-between;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  background-color: #acacac;
}

.sectionContainer > figure {
  width: 30%;
  height: 30%;
}
