@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* ### DEFAULT STYLE ### */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

/* #### HEADER STYLE ### */

header {
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  background-color: #f5f5f5;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #007af5;
}

main {
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5 {
  color: #007ac3;
}

a {
  color: #007ac3;
  text-emphasis: none;
  text-decoration: none;
}

.logo-header {
  height: 50px;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-header a {
  text-decoration: none;
  color: #007af5;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-shadow: 2px 3px 50px rgba(0, 0, 0, 0.5);
}

.nav-header a:hover {
  color: #007af5;
  font-weight: 400;
}

.search-header {
  height: 25px;
  max-width: 150px;
  margin: 10px 0;
}

/* #### MAIN CONTENT #### */
.container-pg1 {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  gap: 20px;
}

.title-main {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 34px;
}

.content-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .content-main {
    flex-direction: column;
  }

  .container-iframe iframe {
    width: 420px;
    height: 280px;
  }
}

/* #### IFRAME LEFT SIDE #### */

.container-iframe iframe {
  width: 720px;
  height: 380px;
}

/* #### TEXT RIGH SIDE #### */

.informations-main {
  display: flex;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.title-informations {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.description-informations {
  width: 480px;
  font-size: 21px;
  text-align: start;
}

.about-informations {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  justify-content: space-between;
  gap: 5px;
}

.rate-informations {
  font-size: 21px;
  font-weight: bold;
}

.rate-informations p {
  font-size: 21px;
  margin: 5px 0;
}

/* #### .container-pg2 #### */

.container-pg2 {
  width: 100%;
  height: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
}

.em-destaque {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.em-destaque-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.em-destaque-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bolder;
}

.em-destaque-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.em-destaque-images img {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.em-destaque-mais {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.em-destaque-mais a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  background-color: #007af5;
  color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.em-destaque-mais a:hover {
  background-color: #f5f5f5;
  color: #007af5;
  border-radius: 5px;
}

.ultimas-avaliacoes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.ultimas-avaliacoes h2 {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bolder;
}

.ultimas-avaliacoes-autor-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ultimas-avaliacoes-autor {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  width: 200px;
}

.ultimas-avaliacoes-autor-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.ultimas-avaliacoes-autor-text h3 {
  font-family: "Roboto", sans-serif;
}

.ultimas-avaliacoes-autor-mais {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 30px;
}

.ultimas-avaliacoes-autor-mais a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;
  background-color: #007af5;
  color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.ultimas-avaliacoes-autor-mais a:hover {
  background-color: #f5f5f5;
  color: #007af5;
  border-radius: 5px;
}

/* Página 2 */

.wrapper_em {
  display: grid;
  background-color: #f5f5f5;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  align-items: center;
}
.wrapper_em .box0 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}
.wrapper_em .box1,
.box2,
.box3 {
  grid-row-start: 3;
  grid-row-end: 8;
  padding: 20px;
}
.wrapper_em .box4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 8;
}
button {
  margin-left: 280px;
  padding: 5px;
  background-color: #007af5;
  color: #f5f5f5;
  border: 0;
}
button:hover {
  background-color: #f5f5f5;
  color: #007af5;
}
.wrapper_em h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #007ac3;
}
.wrapper_em h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #007ac3;
}
.wrapper_em p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
}
/* ##CONTEUDO LIVRE 1 */
.wrapper_cl {
  display: grid;
  padding: 18px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  grid-column-gap: 10px;
  background-color: #f5f5f5d3;
}
.wrapper_cl .box0cl,
.box1cl,
.box2cl,
.box3cl {
  grid-row-start: 1;
  grid-row-end: 5;
}
.wrapper_cl .box4cl {
  margin-top: 10px;
  grid-row-start: 5;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 5;
}
.wrapper_cl .box5cl {
  margin-top: 10px;
  grid-row-start: 10;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end: 3;
  animation: slide 5s infinite;
  animation-direction: alternate;
}
.wrapper_cl .box6cl {
  margin-top: 10px;
  grid-row-start: 10;
  grid-row-end: 14;
  grid-column-start: 3;
  grid-column-end: 5;
}
@keyframes slide {
  0%,
  30% {
    background-image: url("https://i.ytimg.com/vi/Yc_ZmW_KRXo/maxresdefault.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  35%,
  65% {
    background-image: url("https://www.makerzine.com.br/wp-content/uploads/2021/05/Metronomo-com-Arduino.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  70%,
  100% {
    background-image: url("https://livreeaberto.com/images/a/r/d/u/i/arduino-project-ideas-98527e2f.webp");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
#prop1 {
  text-align: justify;
  padding: 0px 50px 0px 50px;
}
#prop1 h3 {
  padding: 10px 0px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#prop1 h4 {
  padding: 10px 0px 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.icon {
  display: flex;
}
.icon img,
p,
a {
  margin: 5px 5px 0px 0px;
}
#prop1 .icon-social img {
  margin: 0px 10px 0px 0px;
}
.box0cl {
  background-image: url("https://i.pinimg.com/originals/9e/d9/35/9ed93503aefad2984ca726d0308913df.jpg");
  background-size: 100%;
}
.box1cl {
  background-image: url("https://i.pinimg.com/736x/3b/2e/33/3b2e339ecd6d72a8fd3e0cc772dbc923.jpg");
  background-size: 100%;
}
.box2cl {
  background-image: url("https://i.pinimg.com/474x/5f/c0/84/5fc08439111c8a72c63a7d89fda3f8a2.jpg");
  background-size: 100%;
}
.box3cl {
  background-image: url("https://i.pinimg.com/736x/ef/79/62/ef7962142843d7430fb0de11a1e1a154.jpg");
  background-size: 100%;
}

.box4cl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.titulo_fav {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f5f5f5;
  height: 20px;
  text-align: center;
  margin-top: 50%;
}

/* ## Pagina 3 */
.page3-title {
  background-color: #f5f5f5;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.page3-container {
  padding: 20px;
  background-color: #f5f5f5;
  height: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
}

.formsContainer {
  min-width: 500px;
  min-height: 500px;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  margin: 50px;
}

.titleContainer {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 50px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: #f5f5f5;
  width: 100%;
  border: #cacacc 5px solid;
  border-radius: 10px;
}

.forms-item {
  width: 80%;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"],
select,
textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  width: 80%;
  height: fit-content;
  background-color: #007af5;
  color: #f5f5f5;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f5f5f5;
  color: #007af5;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
  padding: 10px;
  border-bottom: #007af5 1px solid;
}

.sideContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-content: space-between;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.tagContainer > span {
  padding: 10px;
  border-radius: 20px;
  border: #007ac3 1px solid;
  background-color: #f5f5f5;
  color: #007ac3;
}

.section-image {
  width: fit-content;
  height: fit-content;
}

.communities {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  gap: 10px;
  text-align: center;
}

.party-item {
  width: 100%;
  height: 90px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-image: url(./imagens/diy-birthday-decoration-ideas-1574358695.jpg);
  background-position: center center;
}

.community-name {
  background-color: rgba(0, 122, 245, 1);
  border: #007ac3 1px solid;
  border-radius: 10px;
  width: 100px;
}

.garden-item {
  width: 100%;
  height: 90px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-image: url(./imagens/25-DIY-Garden-Ornament-Ideas2.jpg);
  background-size: contain;
}

.house-item {
  width: 100%;
  height: 90px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-image: url(./imagens/beach-diy-decor-ideas-0.jpg);
  background-clip: padding-box;
}

.eletronic-item {
  width: 100%;
  height: 90px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-image: url(./imagens/DIY-Electronic-Project-2.png);
}

.tricks-item {
  width: 100%;
  height: 95px;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  background-image: url(./imagens/terra14364687.jpg);
  background-position: center center;
}

/* Página 4 - Container  */

.page4-container {
  padding: 20px;
  background-color: #f5f5f5;
  height: 1500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.top10videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 1rem 0rem 1rem 1rem;
  justify-content: center;
  padding: 10px;
  color: #111111;
  background-color: #f5f5f5;
  width: 98%;
  border: #111111 5px solid;
  border-radius: 10px;
}

.videos-section-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.videos-section-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.videos-section-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.videos-section-left > div {
  border: #111111 5px solid;
  border-radius: 10px;
  width: 90%;
  height: 100%;
}

.videos-section-center > div {
  border: #111111 5px solid;
  border-radius: 10px;
  width: 90%;
  height: 20%;
}

.videos-section-right > div {
  border: #111111 5px solid;
  border-radius: 10px;
  width: 90%;
  height: 100%;
}

.forum {
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-auto-rows: 50px;
}

#forumWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#forumPostsTable {
  width: 50%;
}

.forumPosts {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  border-bottom: #cccccc 3px solid;
  width: 68rem;
}

.postTittle {
  cursor: pointer;
  font-size: 1.7rem;
  margin-bottom: 0;
  margin: 0;
}

.postTags {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  align-items: center;
  font-size: 1.7rem;
}

.postInfo {
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  margin-right: 5rem;
  margin-left: 0.5rem;
  width: 25%;
  justify-content: space-between;
}

.postHeader {
  width: 75%;
}

.tags {
  background-color: #cccccc;
  color: #007ac3;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-radius: 15px;
  font-size: 1.2rem;
  margin-right: 15px;
  height: 30px;
}

.dados {
  display: inline-block;
  margin-left: 2rem;
  font-size: 1.1rem;
}

.imagens {
  margin-left: 3rem;
  height: 9rem;
}

h5.identificador {
  height: 20px;
  width: auto;
  margin: 0;
}

h5.atualizado {
  height: auto;
  width: auto;
  margin: 0;
}

.user {
  background-color: #cccccc;
  color: #007ac3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  border-radius: 40px;
  font-size: 1.5rem;
  margin-right: 15px;
  height: 30px;
}

.data {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  border-radius: 40px;
  font-size: 1.5rem;
  margin-right: 15px;
  height: 50px;
  color: #007ac3;
}

footer {
  width: 100%;
  height: 50px;
  color: #007ac3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-top: 1px #007ac3 solid;
  background-color: #f5f5f5;
}
